---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-block;
    text-decoration: none;
  }
  a:hover {
    transform: scale(1.1);
    transition:
      color 0.3s ease,
      background-color 0.3s ease;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
